html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

body {
  background-color:#242424;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.item {
  background-color: lightskyblue;
  width: 30%;
  height: 20rem;
  margin: 5px;
}