html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

body {
  background-color:#d8d2cd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header {
  text-align: center;
}

div, span, p {
  font-size: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h2, p {
  margin: 0.5rem 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.total {
  margin: 2rem;
}

main {
  display: flex;
  max-width: 900%;
  margin: auto;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
  background-color: whitesmoke;
  width: 40rem;
  height: 32rem;
  margin: 2rem 2rem;
  padding: 2rem;
  -moz-border-radius: 0 3rem 0 0;
  border-radius: 0 3rem 0 0;
}
.book {
  display: flex;
  height: 24rem;
}

.book-image {
  position: relative;
  bottom: 4rem;
  margin-right: 1.5rem;
  flex: 1 40%;
}

.book-image img {
  width: 128px;
  box-shadow: 0 0 30px #333;
}

.book-description {
  flex: auto;
}

a {
  position: relative;
  left: 16rem;
  display: inline-block;
  height: 4rem;
  width: 20rem;
  text-align: center;
  text-decoration: none;
  background-color:green;
  padding: 1rem;
  font-weight: bold;
  color: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.poweredbyGoogle {
  border: 0;
  position: relative;
  top: 14px;
  left: 15px;
}

form input {
  width: 25%;
  height: 5rem;
  /* border: solid; */
  font-size: larger;
  padding-left: 1rem;
  border: 2px solid #999;
  border-radius: 1rem 0 0 1rem;
}

form button {
  height: 5rem;
  width: 15%;
  border: 2px solid #999;
  background-color: green;
  color: whitesmoke;
  /* border: solid; */
  font-size: larger;
  padding-left: 1rem;
  border-radius: 0 1rem 1rem 0;
}

form button:hover {
  color: white;
  border-color: #777;
  cursor: pointer;
}
