html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

body {
  background-color:#d8d2cd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header {
  text-align: center;
}

div, span, p {
  font-size: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h2, p {
  margin: 0.5rem 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}